{% extends "app/base.jinja2" %}

{% block title %}Student Portal{% endblock %}

{% block body %}
    {% set this_user = auth.current_user() %}
    <div class="container">
        <div class="row">
            <div class="two-thirds column">
                <h1 class="mt-4">
                    Hello {{ this_user.username }}
                </h1>

                <h4 class="mb-0">
                    Your {% if session_is_current %}<b>current</b>{% else %}next{% endif %} rota assignment
                </h4>
                {% from "app/macros/table.jinja2" import render_table with context %}
                {{ render_table(["Day", "Start Time", "End Time", "Student(s) Assigned"], [next_session]) }}
                <a href="{{ url_for("student.rota") }}" class="button button-primary mt-1">View personal rota</a>
                <a href="{{ url_for("student.rota_full") }}" class="button mt-1">View full rota</a>

                {% if session_is_current %}
                    <hr/>
                    {% if not signed_in_out_session[1] %}
                        <a href="{{ url_for("student.attendance_in") }}" class="button button-primary mt-1">Sign in for
                            current session</a>
                    {% elif not signed_in_out_session[2] %}
                        <a href="{{ url_for("student.attendance_out") }}" class="button button-primary mt-1">Sign out
                            from
                            current session</a>
                    {% else %}
                        <p><i>Already signed out for current rota assignment.</i></p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="one-third column">
                <h4 class="mt-4 mb-0">Your session unavailability</h4>
                <div class="row">
                    <div class="one-half column">
                        <p>{{ unavailability_stat }}</p>
                    </div>
                    <div class="one-half column">
                        <a href="{{ url_for("student.unavailability") }}" class="button mt-1">Manage unavailability</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}