{% extends "app/base.jinja2" %}

{% block title %}Student Rota{% endblock %}

{% block body %}
    {% set this_user = auth.current_user() %}
    <div class="container">
        <div class="row">
            <h1 class="mt-4">
                {{ title }}
            </h1>
            {% from "app/macros/table.jinja2" import render_table with context %}
            {{ render_table(["Start Time", "End Time", "Student(s) Assigned"], rota_data) }}
            {% if show_rota_full %}
                <p>Sessions highlighted are for today.</p>
                <a class="button button-primary mt-2" href="{{ url_for('student.rota_full') }}">View full rota</a>
            {% else %}
                <p>Sessions highlighted are assigned to you.</p>
                <a class="button button-primary mt-2" href="{{ url_for('student.rota') }}">View personal rota</a>
            {% endif %}
        </div>
    </div>
{% endblock %}