{% extends "app/base.jinja2" %}

{% block title %}Student Unavailability{% endblock %}

{% block body %}
    {% from "app/macros/field.jinja2" import render_field with context %}

    <div class="container">
        <h1></h1>
        {% with errors = get_flashed_messages() %}
            {% if errors %}
                <div>
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ request.url }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="two-thirds column">
                    {{ render_field(form.unavailable, placeholder="Unavailable", autofocus="") }}
                    {{ render_field(form.reason, placeholder="Reason") }}
                </div>
                <div class="one-third column">
                    <button type="submit" name="submit" class="button primary mt-4">
                        <span class="fa-stack fa-1x">
                            <i class="fas fa-check fa-stack-1x"></i>
                            <i class="far fa-comment-alt fa-stack-2x"></i>
                        </span>
                        Update
                    </button>
                    <br/>
                    <a role="button" href="{{ url_for("student.unavailability") }}" class="button mt-4">
                        <i class="fas fa-lg fa-arrow-left"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}