{% extends "app/base.jinja2" %}

{% block title %}Student Attendance Report{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="mt-4">
                    Attendance report for {{ student.username }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="one-third column">
                <h4>Attendance</h4>
                <p class="mb-2">{{ attendance_stat }}</p>
                <div class="stat-bar mb-2">
                    <span class="success" style="width: {{ attendance_present }}%;"></span>
                    <span class="danger" style="width: {{ attendance_absent }}%;"></span>
                </div>

                <h4>Punctuality</h4>
                <p>{{ punctuality_stat }}</p>
            </div>
            <div class="two-thirds column">
                <h4 class="mb-0">Attendance breakdown</h4>
                {% from "app/macros/table.jinja2" import render_table with context %}
                {{ render_table(["Start Time", "End Time", "Attendance", "Punctuality"], attendance_table) }}
            </div>
        </div>
    </div>
{% endblock %}