@import 'global';
@import '../utils/size';
@import '../utils/position';

// Dark theme for base
html, body {
  background-color: $black;
  color: $lightgreyple;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: $normalweight;
  min-height: 100vh;
}

// Make small a bit smaller
small { font-size: 70%; }

// Indent lists
ul, ol { margin-left: 1rem; }

// Code blocks
code { color: $primary; }

// Ensure correct 'bold' font weight
b, strong, optgroup { font-weight: $boldweight; }

// Larger containers
.container {
  max-width: 1280px;

  &.larger { max-width: 1500px; }
}

// Fancy lines after text
h1, h2, h3, h4, h5 {
  &.line {
    overflow: hidden;

    &::after {
      background: $primary;
      content: '';
      display: inline-block;
      height: $bordersize;
      margin-left: .5em;
      margin-right: -100%;
      vertical-align: middle;
      width: 100%;
    }
  }
}

// Hr
hr {
  border: 0;
  border-top: $bordersize solid $primary;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

// Links
a {
  color: $primary;
  text-decoration: none;
  transition: color .1s;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

// Labels
.label {
  background: mix($greyple, $primary, 20%);
  border-radius: .2em;
  color: $lightgreyple;
  font-size: .6em;
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1em;
  padding: .1em .4em;
  vertical-align: .16em;
}

// Emphasis
em {
  color: $primary;
  font-style: normal;
  font-weight: $normalweight;

  &.dull { color: mix($greyple, $primary, 35%); }
}

// Images
img {
  @include square(1.5em);
  vertical-align: middle;

  &.avatar {
    background-color: $dark;
    border-radius: 50%;

    &.half-border { border-radius: 25%; }

    &.ring {
      border: $bordersize solid $dark;
    }
  }
}

// Cards
.card {
  background: $dark;
  border-radius: .5em;
  box-shadow: 0 8px 6px -6px #222;
  margin: 1em 0;
  padding: 1em;
}

// Forms
input {
  color: $dark;
}
