@import 'global';

@mixin button_style($color, $text) {
  background-color: $color;
  border-color: $color;
  color: $text;

  &:hover,
  &:focus {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    color: $text;
  }
}

// General button
.button, button, input[type="button"], input[type="submit"] {
  border-color: $white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2);
  color: $primary;
  font-size: 13px;
  padding: 0 30px;
  transition: all .2s;

  &.button-square {
    padding: 0 1em;
  }

  &.larger {
    font-size: 17px; // 13 + x
    padding: 0 34px; // 30 + x
    height: 46px; // 38 + (x * 2)
    line-height: 46px; // 38 + (x * 2)
  }

  &:hover,
  &:focus {
    border-color: darken($white, 30%);
    color: $primary;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  }
  &:focus {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
  }

  // Primary button
  &.button-primary,
  &.primary {
    @include button_style($primary, $white);
  }

  // Success button
  &.button-success,
  &.success {
    @include button_style($success, $white);
  }

  // Warning button
  &.button-warning,
  &.warning {
    @include button_style($warning, $white);
  }

  // Danger button
  &.button-danger,
  &.danger {
    @include button_style($danger, $white);
  }

  // Muted button
  &.button-muted,
  &.muted {
    @include button_style($dark, darken($white, 20%));
  }

  // FontAwesome button fix (make them larger)
  .svg-inline--fa[class*="fa-"] {
    height: 1.5em;
    vertical-align: -.375em;
    width: auto;
  }

  // Group
  &.button-group,
  &.group {
    padding: 0;
    text-transform: none;
    color: inherit;
    cursor: auto;
    clear: both;

    &:hover,
    &:focus {
      border-color: $white;
    }

    * {
      padding: 0 15px;
      display: inline-block;
      height: 100%;
      box-sizing: content-box;
      border-left: 1px solid;
    }

    a,
    button {
      color: $primary;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $white;
        text-decoration: none;
      }
    }

    :first-child {
      border-left: none;
    }
  }
}