// Define some global colours
$black: #23272a;
$dark: #2c2f33;
$grey: #99aab5;
$lightgrey: lighten($grey, 20%);
$darkgrey: darken($grey, 20%);
$white: #fff;
$primary: #4a89dc;
$success: #37BC9B;
$warning: #FFCE54;
$danger: #DA4453;

// Define some other globals
$bordersize: 2px;
$normalweight: 300;
$boldweight: 600;
