$margin-value: (0, .5rem, 1rem, 1.5rem, 2rem);

@each $g in $margin-value {
  $i: index($margin-value, $g);

  // Bottom
  .mb-#{$i - 1} {
    margin-bottom: $g;
  }
  // Top
  .mt-#{$i - 1} {
    margin-top: $g;
  }

  // Bottom/Top
  .mbt-#{$i - 1} {
    margin-top: $g;
    margin-bottom: $g;
  }
  .mtb-#{$i - 1} {
    margin-top: $g;
    margin-bottom: $g;
  }

  // Left
  .ml-#{$i - 1} {
    margin-left: $g;
  }
  // Right
  .mr-#{$i - 1} {
    margin-right: $g;
  }
}

// Hide alt text
.hide-alt {
  color: rgba(0, 0, 0, 0);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
