@import 'global';

table {
  tr {
    th, td {
      border-color: #667;
    }

    &.subheading {
      background: lighten($black, 10%);

      th, td {
        &:first-of-type {
          padding-left: 12px;
        }
      }
    }

    &.highlight {
      color: $primary;
      font-weight: 700;
    }
  }
}

.chart {
  background: #32373a;
  padding: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}