<script type="text/javascript">
    {% macro render_chart(id, title, datasets, extra_data = {}) %}
        const {{ id }}_CanvasJSChart = new CanvasJS.Chart("{{ id }}", {
            theme: "dark2",
            animationEnabled: true,
            title: {
                text: "{{ title }}"
            },
            data: {{ json.dumps(datasets)|safe }},
        {% for key, val in extra_data.items() %}
            {{ key }}: {{ json.dumps(val)|safe }},
        {% endfor %}
        });
        {{ id }}_CanvasJSChart.render();
    {% endmacro %}
</script>