{% macro render_table(headings, data, initial_sort_column = "") %}
    <table class="u-full-width" data-sort-initial="{{ initial_sort_column }}">
        <thead>
        <tr>
            {% for heading in headings %}
                <th>{{ heading }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr class="{% if item[0] %}highlight {% endif %}{% if item[2] %}subheading {% endif %}">
                {% for value in item[1] %}
                    {% if value is not string and value is iterable and value|length >= 2 %}
                        <td data-sort="{{ value[1] }}">{{ value[0] }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}