{% extends "app/base.jinja2" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {% from "app/macros/field.jinja2" import render_field with context %}

    <div class="container">
        <h1>Login to {{ app.name }}</h1>
        {% with errors = get_flashed_messages(category_filter=["error-message"]) %}
            {% if errors %}
                <div>
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ request.url }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="one-half column">
                    {{ render_field(form.username, placeholder="Username",
                                  autofocus="") }}
                </div>
                <div class="one-half column">
                    {{ render_field(form.password, placeholder="Password") }}
                </div>
            </div>

            <div class="row">
                <div class="one-half column">
                    <button type="submit" name="submit" class="button primary">Login</button>
                </div>
                <div class="one-half column">
                    <a role="button" href="" class="button">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}