{% extends "app/base.jinja2" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {% macro render_field(field, placeholder=None) %}
        <label for="{{ field.id }}">{{ placeholder }}</label>
        {% set css_class = 'u-full-width ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    {% endmacro %}

    <div class="container">
        <h1>Login to {{ app.name }}</h1>
        {% with errors = get_flashed_messages(category_filter=["error-message"]) %}
            {% if errors %}
                <div>
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="." accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="one-half column">
                    {{ render_field(form.username, placeholder="Username",
                                  autofocus="") }}
                </div>
                <div class="one-half column">
                    {{ render_field(form.password, placeholder="Password") }}
                </div>
            </div>

            <div class="row">
                <div class="one-half column">
                    <button type="submit" name="submit">Login</button>
                </div>
                <div class="one-half column">
                    <a role="button" href="" class="button">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}