{% extends "app/base.jinja2" %}

{% block title %}Delete Rota Session{% endblock %}

{% block body %}
    {% from "app/macros/field.jinja2" import render_field with context %}

    <div class="container">
        <h1>Delete Rota Session</h1>

        <form method="POST" action="{{ request.url }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="column">
                    <h3>Are you sure you want to delete the rota session?</h3>
                    <button type="submit" name="submit" class="button primary larger mt-4 mr-1">
                        <i class="fas fa-lg fa-trash-alt"></i> Delete
                    </button>
                    <a role="button" href="{{ url_for("staff.rota_edit_session", id=id) }}"
                       class="button larger mt-4 ml-1">
                        <i class="fas fa-arrow-left"></i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}