{% extends "app/base.jinja2" %}

{% block title %}{{ title_type }} Rota Session{% endblock %}

{% block body %}
    {% from "app/macros/field.jinja2" import render_field with context %}

    <div class="container">
        <h1>{{ title_type }} Rota Session</h1>
        {% with errors = get_flashed_messages() %}
            {% if errors %}
                <div>
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ request.url }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="two-thirds column">
                    {{ render_field(form.day, placeholder="Day of the Week", autofocus="") }}
                    {{ render_field(form.start_time, placeholder="Start Time (HH:MM)") }}
                    {{ render_field(form.end_time, placeholder="End Time (HH:MM)") }}
                </div>
                <div class="one-third column">
                    <button type="submit" name="submit" class="button primary mt-4">{{ button_type }}</button>
                    <br/>
                    <a role="button" href="{{ url_for("staff.rota_delete_session", id=id) }}" class="button mt-4">
                        Delete</a>
                    <br/>
                    <a role="button" href="{{ url_for("staff.rota") }}" class="button mt-4">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}