{% extends "app/base.jinja2" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="mt-4">
                Hi, log in to get started!
            </h1>
        </div>
        <div class="row">
            <div class="two-thirds column">

            </div>
            <div class="one-third column">

            </div>
        </div>
    </div>
{% endblock %}
