{% extends "app/base.jinja2" %}

{% block title %}Error - {{ error_message }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>
                Sadly we've encountered an error... {{ error_message }}
                <br/>
                <small>{{ error_details }}</small>
                <br/>
                <small>{{ error_extra }}</small>
            </h2>

            <a class="button button-primary mt-2" href="{{ url_for('.index') }}">Head to Safety - Home</a>
        </div>
    </div>
{% endblock %}