<footer class="footer">
    <div class="container">
        <div class="row">

            <p>
                <i class="far fa-copyright"></i> {{ datetime.now().year }}
                <a href="https://mattcowley.co.uk" target="_blank">Matt Cowley</a>.
                All Rights Reserved.
                <br/>
                <span class="small-text">
                    Icons provided by <a href="http://fontawesome.io" target="_blank">FontAwesome</a>.
                    CSS framework by <a href="http://getskeleton.com/" target="_blank">Skeleton CSS</a>.
                </span>
            </p>

        </div>
    </div>
</footer>